# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [369]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "../resources/schools_complete 2.csv"
student_data_to_load = "../resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
schools_df = pd.read_csv(school_data_to_load)
students_df = pd.read_csv(student_data_to_load)


# Combine the data into a single dataset
merged_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [370]:
# get list of unique school names
unique_school_names = schools_df['school_name'].unique()

# get count of unique school names
school_count = len(unique_school_names)

# total students
total_students = schools_df['size'].sum()
                                                                                                   
# total budget
total_budget = schools_df['budget'].sum()

# students whose reading score is equal than or greater to 70 and percentage of student passing the reading test.
num_pass_read = students_df.loc[students_df['reading_score'] >= 70]['reading_score'].count()
perc_pass_read = num_pass_read/total_students

# students whose math score is equal than or greater to 70 and percentage of student passing the math test.
num_pass_math = students_df.loc[students_df['math_score'] >= 70]['math_score'].count()
perc_pass_math = num_pass_math/total_students

#Average math score for the students
avg_math_score = students_df['math_score'].mean()

#Average reaDING score for the students
avg_read_score = students_df['reading_score']

#Overall pass score. In other words, student passing both math and reading test
overall_pass = students_df[(students_df['math_score'] >= 70) & (students_df['reading_score'] >= 70)]['school_name'].count()

# district dataframe from dictionary

district_summary = pd.DataFrame({

    "Total Schools": [school_count],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Reading Score": [avg_read_score],
    "Average Math Score": [avg_math_score],
    "% Passing Reading": [perc_pass_read],
    "% Passing Math": [perc_pass_math],
    "Overall Passing Rate": [overall_pass]

})

# store as different df to change order
dist_sum = district_summary[["Total Schools",
                             "Total Students",
                             "Total Budget",
                             "Average Reading Score",
                             "Average Math Score",
                             '% Passing Reading',
                             '% Passing Math',
                             'Overall Passing Rate']]

dist_sum

,Total Schools,Total Students,Total Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,Overall Passing Rate
0,15,39170,24649428,0 66 1 94 2 90 3 6...,78.985371,0.858055,0.749809,25528

In [371]:
#* Create an overview table that summarizes key metrics about each school, including:
#* School Name
#* School Type
# * Total Students
# * Total School Budget
# * Per Student Budget
#* Average Math Score
#* Average Reading Score
#* % Passing Math
#* % Passing Reading
#* Overall Passing Rate (Average of the above two)
  
#* Create a dataframe to hold the above results

In [372]:
#Creating a variable that uses the merged csv files  that uses school_name as index to group by
by_school = merged_df.set_index('school_name').groupby(['school_name'])
by_school

#Creating a variable that uses the merged csv files that uses school_name as index and groups by type
school_types = schools_df.set_index('school_name')['type']

#Count of students per school
stu_per_sch = by_school['Student ID'].count()

#Total budget per school
sch_budget = schools_df.set_index('school_name')['budget']/schools_df.set_index('school_name')['size']

#Total budget per student
stu_budget = schools_df.set_index('school_name')['budget']/schools_df.set_index('school_name')['size']

#Average math school by school
avg_math = by_school['math_score'].mean()

#Avergae reading score by school
avg_read = by_school['reading_score'].mean()

#Passing math score per school
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch 

#Passing reading score per score
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch 

#Overall passing score per school
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/stu_per_sch 

#Creating a data frame using above specified parameters
sch_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": stu_per_sch,
    "Per Student Budget": stu_budget,
    "Total School Budget": sch_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
})

sch_summary

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,628.0,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,582.0,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,639.0,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,644.0,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,625.0,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,652.0,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,581.0,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,655.0,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,650.0,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,609.0,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,637.0,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,600.0,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,638.0,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,578.0,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,583.0,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

## School Summary

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [373]:
#Values for top 5 performing schools
top_5 = sch_summary.sort_values("Overall Passing Rate", ascending = False)
top_5.head()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,1858,582.0,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,638.0,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,625.0,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,578.0,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,609.0,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [374]:
#Values for bottom 5 performing schools
bot_5 = sch_summary.sort_values("Overall Passing Rate", ascending = True)
bot_5.head()

,School Type,Total Students,Per Student Budget,Total School Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,3999,637.0,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,639.0,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,655.0,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,652.0,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,650.0,650.0,77.072464,80.966394,0.660576,0.812224,0.535392

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [375]:
#Average math score for students in grade 9, 10,11 and 12.
ninth = students_df.loc[students_df['grade'] == '9th'].groupby('school_name')['math_score'].mean()
tenth = students_df.loc[students_df['grade'] == '10th'].groupby('school_name')['math_score'].mean()
eleventh = students_df.loc[students_df['grade'] == '11th'].groupby('school_name')['math_score'].mean()
twelfth = students_df.loc[students_df['grade'] == '12th'].groupby('school_name')['math_score'].mean()
math_scores = pd.DataFrame({
        "9th": ninth,
        "10th": tenth,
        "11th": eleventh,
        "12th": twelfth
})
math_scores

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [376]:
#Average reading score for students in grade 9, 10,11 and 12.
ninth = students_df.loc[students_df['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
tenth = students_df.loc[students_df['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
eleventh = students_df.loc[students_df['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
twelfth = students_df.loc[students_df['grade'] == '12th'].groupby('school_name')['reading_score'].mean()
read_scores = pd.DataFrame({
        "9th": ninth,
        "10th": tenth,
        "11th": eleventh,
        "12th": twelfth
})
read_scores

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [377]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [378]:
#Uning the provided bins and grouping by the range below.Unsing cut to segment and sort data values into bins

from pandas import cut
bins = [0, 585, 615, 645, 675]
group_name = ['< $585', '$585 - 614',  '615 - 644', '> $644']
merged_df['spending_bins'] = cut(merged_df['budget']/merged_df['size'], bins, labels=group_name)
merged_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,spending_bins
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,> $644
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,> $644
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,> $644
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,> $644
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,> $644
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,> $644
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,> $644
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,> $644
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,> $644
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,> $644
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,> $644
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,> $644
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,> $644
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,> $644
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,> $644
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,> $644
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,> $644
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,> $644
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,> $644
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,> $644
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,> $644
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,> $644
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,> $644
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,> $644
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,> $644
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,> $644
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,> $644
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,> $644
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,> $644
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,> $644
...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,615 - 644
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,615 - 644
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,615 - 644
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,615 - 644
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,615 - 644
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,615 - 644
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,615 - 644
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,615 - 644
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,615 - 644
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,615 - 644
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,615 - 644
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,615 - 644
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,615 - 644
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,615 - 644
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,615 - 644
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,615 - 644
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,615 - 644
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,615 - 644
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,615 - 644
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,615 - 644
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,615 - 644
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,615 - 644
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,615 - 644
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,615 - 644
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,615 - 644
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,615 - 644
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,615 - 644
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,615 - 644
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,615 - 644
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,615 - 644

## Scores by School Size

* Perform the same operations as above, based on school size.

In [379]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [380]:
by_spending = merged_df.groupby('spending_bins')
# calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

            
# df build            
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall
            
})

scores_by_spend

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
spending_bins,,,,,
< $585,83.363065,83.964039,0.937029,0.966866,0.906407
$585 - 614,83.529196,83.838414,0.941241,0.958869,0.901212
615 - 644,78.061635,81.434088,0.714004,0.836148,0.602893
> $644,77.049297,81.005604,0.662308,0.811094,0.535288

## Scores by School Type

* Perform the same operations as above, based on school type.

In [381]:
scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)
scores_by_spend

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Per Student Budget,,,,,
< $585,83.363065,83.964039,0.937029,0.966866,0.906407
$585 - 614,83.529196,83.838414,0.941241,0.958869,0.901212
615 - 644,78.061635,81.434088,0.714004,0.836148,0.602893
> $644,77.049297,81.005604,0.662308,0.811094,0.535288

In [382]:
by_type = merged_df.groupby("type")

#calculations 
avg_math = by_type['math_score'].mean()
avg_read = by_type['math_score'].mean()
pass_math = merged_df[merged_df['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
pass_read = merged_df[merged_df['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall = merged_df[(merged_df['reading_score'] >= 70) & (merged_df['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()

# df build            
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})
    
#reorder columns
scores_by_type = scores_by_type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
scores_by_type.index.name = "Type of School"
scores_by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Type of School,,,,,
Charter,83.406183,83.406183,0.937018,0.966459,0.905609
District,76.987026,76.987026,0.665184,0.809052,0.536959